<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGatewaysLabel">Create or edit a Gateways</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!gateways.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="gateways.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_externalIp">External Ip</label>
            <input type="text" class="form-control" name="externalIp" id="field_externalIp"
                [(ngModel)]="gateways.externalIp" required/>
            <div [hidden]="!(editForm.controls.externalIp?.dirty && editForm.controls.externalIp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalIp?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_internalIp">Internal Ip</label>
            <input type="text" class="form-control" name="internalIp" id="field_internalIp"
                [(ngModel)]="gateways.internalIp" required/>
            <div [hidden]="!(editForm.controls.internalIp?.dirty && editForm.controls.internalIp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.internalIp?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="gateways.userId" required/>
            <div [hidden]="!(editForm.controls.userId?.dirty && editForm.controls.userId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_websocketId">Websocket Id</label>
            <input type="text" class="form-control" name="websocketId" id="field_websocketId"
                [(ngModel)]="gateways.websocketId" required/>
            <div [hidden]="!(editForm.controls.websocketId?.dirty && editForm.controls.websocketId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.websocketId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
